@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
}
